@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f6f6;
    height: 1080px;
}


* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    /* UI Color */
    --primary-color: #15d085;
    --secondary-color: #14b474fd;
    --accent-color: #212434;

    /* Button color */
    --primary-color-light: #28e398fd;
    --primary-color-darken: #19be7cfd;
    --danger-color-light: #db2424fd;
    --danger-color-darken: #b31f1ffd;
}


@media (max-width: 654px) {
    .hero-container {
        display: flex;
        flex-direction: column;
    }

    .hero-container .img-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .hero-achievement-container {
        font-size: 1.020em;
    }
}

@media (max-width: 601px) {
    .hero-achievement-container {
        font-size: 0.975em;
    }

    .hero-welcome-container p {
        font-size: 1.055rem;
    }

    .hero-button-container {
        font-size: 0.955em;
    }

    .hero-wrapper {
        padding: 0 5%;
    }

}

@media (max-width: 647px) {
    .hero-wrapper {
        padding: 1.5rem;
    }
    
    .logo-kanan .hamburger-menu {
        display: flex;
        justify-content: flex-end;
        /* padding-right: 4em; */
    }
    
    .navbar li a {
        display: none;
    }

    .hamburger-menu {
        visibility: visible;
    }
}

@media (max-width: 1106px) {
    .card-about-container {
        flex-wrap: wrap;
    }
}

.logo-nav-kiri {
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 3.2px;
}

.logo-nav-kiri h1, .logo-nav-kiri span {
    font-weight: 600;
}

.logo-kanan-wrapper {
    visibility: hidden;
}

.span-logo {
    color: var(--secondary-color);
    padding: 0;
    /* background-color: rgb(45, 174, 99, 14%); */
    border-radius: 24px;
}

.logo-kiri {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  /* column-gap: 10px; */
  font-size: 1.1rem;
}


/* .icon-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.search-icon {
  stroke: var(--primary-color);
}

.search-icon:hover {
  cursor: pointer;
  stroke: #8d8d8d;
}

.user-icon {
  stroke: var(--primary-color);
}

.user-icon:hover {
  cursor: pointer;
  stroke: #8d8d8d;
} */

.elemen-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

/* STYLE SEARCH BOX */
.elemen-center input {
  background-color: rgb(45, 174, 99, 2%);
  border: 1px solid var(--primary-color);
  padding: 4px 8px;
  width: 60%;
  padding: 10px 14px;
  border-radius: 24px;
}

/* Penyesuaian navbar agar posisinya tetap fix ketika website discroll */
.navbar {
  padding: 1.6em 1em;
  width: 100%;
  top: 0;
  left: 0;
  right: 1rem;
  z-index: 999;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.030);
  /* background-color: rgb(255, 255, 255, 98%); */
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(32px);
  /* mix-blend-mode: color-burn; */
  border: 1px solid rgba(0, 0, 0, 0.080);
}

/* Memposisikan display list menu dari navbar menjadi sejajar dan flex-end */
nav ul {
    display: flex;
    /* column-gap: 20px; */
    list-style-type: none;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.950rem;
  }

  nav ul li a {
    display: block;
    color: #303030;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
  .menu {
    padding: 0.7em 1em;
    border-radius: 8px;
  }

  /* Membuat animasi perubahan warna dan posisi saat dihover pada menu navigation bar agar lebih terasa dinamis dan interaktif*/
  .menu:hover {
    transform: translateY(2.5px);
    color: var(--secondary-color);
    background-color: rgb(13, 221, 148, 12%);
    transition: ease-in-out 0.2s;
  }


  /* HERO SECTION!!! */

.hero-wrapper {
    width: 100%;
    background-color: #FFF;
    padding: 0 5%;
    padding-top: 7.650rem;
    padding-bottom: 1rem;
}

.hero-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.heading-container {
    width: 90%;
    margin: 20px;
}

.hero-welcome-container {
    font-size: 1.255rem;
    font-weight: 400;
}

.hero-name-container h2 {
    color: rgba(21, 208, 134, 0.993);
    font-size: 3.110rem;
    font-weight: bold;
    margin: 0;
}

.hero-detail-container h2 {
    color: rgba(43, 83, 67, 85%);
    font-size: 1.6rem;
    font-weight: 500;
}

/* ACHIEVEMENT SAYA! */
.hero-achievement-container {
    max-width: 85%;
    margin-top: 16px;
    padding-left: 4px;
    /* border-left: 1px solid rgb(18, 20, 29, 50%); */
}

.hero-achievement-container button {
    text-align: left;
    display: flex;
    align-items: center;
}

.hero-achievement-container span {
    font-weight: 500;
}

.hero-achievement-container .hero-ach1, .hero-achievement-container .hero-ach2 {
    padding: 2px;
    font-size: 0.845em;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    border-radius: 50px;
}

.hero-achievement-container .hero-ach1:hover, .hero-achievement-container .hero-ach2:hover {
    cursor: pointer;
}

.hero-achievement-container .hero-ach1::after, .hero-achievement-container .hero-ach2::after {
    margin-left: 12px;
    font-size: 1.1em;
    color: rgb(253, 253, 253, 80%);
    content: '×';
}

.hero-ach1 {
    background-color: var(--primary-color-darken);
    border: 3px solid var(--primary-color);
    color: #fdfdfd;
}

.hero-ach2 {
    margin-top: 8px;
    background-color: var(--primary-color-darken);
    border: 3px solid var(--primary-color);
    color: #fdfdfd;
    
}

.hero-ach2 .gelar {
    font-style: italic;
}

.hero-ach1:hover {
    background-color: #1cce87fd;
}

.hero-ach2:hover {
    background-color: #1cce87fd;
}

.hero-quote-container {
    margin-top: 20px;
    color: rgba(43, 83, 67, 45%);
    border-left: 1px solid rgb(18, 20, 29, 50%);
    padding-left: 10px;
    padding: 6px;
    background-color: rgba(21, 208, 134, 2%);
}

.hero-quote-container p {
     font-weight: 300;
}

.hero-desc-container {
    margin-top: 14px;
    color: rgba(0, 0, 0, 45%);
}

.hero-desc-container p {
     font-weight: 400;
}

.img-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    justify-content: flex-end;
    margin: 26px;
}

/* BUTTON*/

.hero-button-container {
    margin-top: 26px;
}

/* Inisialisasi default */

.hero-button-container .hero-contact, .hero-button-container .hero-overview {
    padding: 0.9em 3em 0.9em 3em;
    border-radius: 26px;
    transition: 0.155s ease-in-out;
    font-size: 0.9em;
}

.hero-button-container {
    display: flex;
    column-gap: 18px;
}

/* STYLE HERO BUTTON BERBEDA */

.hero-button-container .hero-contact {
    color: #fff;
    background-color: #15d086fd;
}

.hero-button-container .hero-overview {
    color: #12141d;
    background-color: #12141d00;
    border: 1px solid #12141d;
}

/* HOVER STYLE HERO BUTTON BERBEDA */

.hero-button-container .hero-contact:hover, .hero-button-container .hero-overview:hover {
    cursor: pointer;
    /* padding-right: 4em;
    padding-left: 4em; */
}

.hero-button-container .hero-contact:hover {
    background-color: var(--primary-color-light);
}

.hero-button-container .hero-overview:hover {
    color: #fdfdfd;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/* ABOUT SECTION */
.about-section-wrapper {
    margin-top: 16px;
    background-color: var(--accent-color);
}

.about-section-container {
    padding: 2em 7%;
    padding-bottom: 3em;
}

/* STYLE FONT HEADING SECTION! */
.about-heading h2 {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.about-content-container {
    width: 100%;
}

/* PEMBUNGKUS BUNGKUS CARD! */
.card-about-wrapper {
    margin-top: 2.9rem;
}

.card-about-container {
    display: flex;
    row-gap: 40px;
    column-gap: 30px;
}

/* PEMBUNGKUS CARD! */
.card-about-container .card1-about, .card-about-container .card2-about, .card-about-container .card3-about, .card-about-container .card4-about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 12px;
    width: 100%;
    outline: 1px solid rgb(255, 255, 255, 26%);

}

/* STYLE CARD */
.card-about-container .card1-about, .card-about-container .card2-about, .card-about-container .card3-about, .card-about-container .card4-about {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 12px;
    filter: brightness(98%);
    transition: 200ms ease-in-out;
}

.card-about-container .card1-about:hover, .card-about-container .card2-about:hover, .card-about-container .card3-about:hover, .card-about-container .card4-about:hover {
    filter: brightness(105%);
    /* box-shadow: 0px 0px 20px 0px rgba(143, 255, 166, 0.3); */
    cursor: pointer;
    transform: translateY(6.5px);
}

/* PEMBUNGKUS KONTEN CARD! */
.about-heading-content-container {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

/* STYLE HEADING CARD! */
.heading-about-container h2 {
    color: var(--primary-color-darken);
    font-size: 1.065em;
    font-weight: 600;
}

/* PEMBUNGKUS GAMBAR! */
.img-heading-container img {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    /* background-color: var(--primary-color-light); */
}

.about-description-container h2 {
    color: var(--primary-color-darken);
    font-size: 0.955rem;
}

/* DESKRIPSI CARD! */
.about-description-container {
    margin-top: 10px;
    padding: 0 10px 0 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 40%);
}

.button-about-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 0 6px 0 6px;
    width: 100%;
}

.button-about-container button {
    padding: 8px;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: var(--primary-color-darken);
    border-radius: 12px;
}

.button-about-container button:hover {
    cursor: pointer;
}